.discon {
    font-size: 22px;
    color: rgba(207, 198, 186, 0.589);
    background-color: #282c34;
    border-radius: 28px;
    border-color: rgba(194, 204, 203, 0.4);
    width: 150px;
    border-width: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.discon:hover {
    border-color: darkslategray;
    border-width: 5px;
    color: #282c34;
    background-color: rgba(172, 170, 168, 0.589);
}